<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd 
       	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
 

	<bean id="cronTrigger"
	    class="org.springframework.scheduling.quartz.CronTriggerBean">
	    <property name="jobDetail" ref="monitorCheckJob" />
	     <property name="cronExpression" value="0 03  16 * * ? *" /> 
 	   
	</bean>	
	
	<!-- Spring Quartz -->
	<bean id="monitorCheckJob" name="monitorCheckJob" class="org.springframework.scheduling.quartz.JobDetailBean">
 		<property name="jobClass" value="com.af.faultcheck.MonitorCheckJob" />
 	</bean>
 	 
	<bean  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	        <property name="applicationContextSchedulerContextKey">
	        <value>applicationContext</value>             
	        </property>  
		<property name="jobDetails">
			<list>
				<ref bean="monitorCheckJob" />
			</list>
		</property>
 
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>
	
	
	<!-- 检查用户编号重复 -->
	<bean id="sqlChecker" class="com.af.faultcheck.checker.SqlChecker" >
	   <property name="sessionFactory" ref="sessionFactory"/>
	   <property name="fileName" value="./用户编号重复.sql" />
	   <property name="exceptionName" value="用户编号重复" />
  	</bean>
  	
  	<!-- 硬盘空间检查 -->
	<bean id="diskSpaceChecker" class="com.af.faultcheck.checker.HandDiskSpaceChecker" >
	   <property name="sessionFactory" ref="sessionFactory"/>
	    <property name="exceptionName" value="硬盘空间过低" />
  	</bean>
  
</beans>